html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  background-color: grey;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #fc515f;
  color: white;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Pacifico', cursive;
  margin-top: 0;
}

.left {
  display:flex;
  justify-content: space-between;
  width: 100px;
  margin-left: 15px;
}

.right {
  display:flex;
  justify-content: space-between;
  width: 100px;
  margin-right: 15px;
}

.blurb {
  width: 100%;
  height: 350px;
  background-color: rgba(255, 255, 255, .3);
  color: white;
  border-radius: 25px;
}

.blurbparagraph{
  font-size: 16px;
}

#carolina {
  float: left;
  margin-right: 20px;
}

#kyle {
  float:right;
  margin-left: 20px;
}

#yamile {
  float: left;
  margin-right: 20px;
}
