html {
  height: 100%;
  width: 100%;
}

body{
  margin: 0;
}

nav {
 display: flex;
 justify-content: space-between;
 background-color: #fc515f ;
 color: white;
 width: 100%;
 font-size: 16px;
 font-family: 'Pacifico', cursive;
 margin-top: 0;
 margin-bottom: 10px;
}

a {
 color: white;
 text-decoration: none;
}

a:hover {
 color: #fc515f ;
 text-decoration: none;

}

.box{
 background-color:  #fc515f ;
}

.box:hover {
 background-color: white;
 border-radius: 50px;
 transition-property: background, border-radius;
 transition-duration: 1s;
 transition-timing-function: linear;
}

.left {
 display:flex;
 justify-content: space-between;
 width: 100px;
 margin-left: 15px;
}

.right {
 display:flex;
 justify-content: space-between;
 width: 100px;
 margin-right: 15px;
}

form {
  width: 40%;
  margin: auto;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Pacifico', cursive;
  margin-top: 100px
}

li{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 900px;
}

label, input{
  margin-left: 30px;
}

section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

fieldset{
  border-color: #fc515f;
  border-style: solid;
  box-shadow: 5px 5px 5px #fc515f;
  font-family: 'Lucida Grande';
}

label{
  font-weight: bold;
  color: #2B193D;
  font-family: 'Florence', cursive;
  font-size: 18px;
}

.last{
  margin-bottom: 20px;
}


#submit{
  background-color: #fc515f;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  color: white;
  padding: 5px;
  margin-left: 25%;
  height: 100px;
  width: 240px;
}


#song{
  color: #fc515f;
  font-size: 64px;
  list-style-type: none;
  width: 50%;
  position: absolute;
}

#share{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  background-color: #bbdfdc;
  height: 260px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px;
  margin-top: 200px;
  position: fixed;
}

#share > img{
  padding: 7px;
}

#tay{
  margin-left: 50px;
}

#selection{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 50%;
}
